<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="black">
        <div class="navbar">
          <div class="icon">
            <i class="fa-solid fa-leaf" id="ic1"></i>
            <h3 id="titlee">Swachhta_&_Life</h3>
          </div>
          <div class="btns">
            <button class="btn1"><b>Home</b></button>
            <button class="btn2"><b>Dashboard</b></button>
            <button class="btn3"><b>Alerts</b></button>
            <button class="btn4"><b>Map View</b></button>
            <button class="btn5"><b>Settings</b></button>
            <button class="btn6"><b>Help & Support</b></button>
          </div>
        </div>
        <div class="middleblock">
          <div class="onedivblk">
            <div class="onename">
              <h1>Swachhta</h1>
              <h1>& Environment</h1>
            </div>
            <div class="onenames">
              <h2 class="real">Real Time Monitoring</h2>
              <h2>0.00 AM</h2>
            </div>
            <div class="mid-btns">
              <button class="stats"><b>Stats</b></button>
              <button class="click"><b>Click Here</b></button>
            </div>
            <div class="city-details">
              <div class="name1">
                <h2 class="city-names">Office Details</h2>
                <div class="details">
                  <h3>Name:</h3>
                  <h3>Cleanliness Rate:</h3>
                  <h3>Region</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="names">
            <div class="heads">
              <h1 class="headd">Swachhta and Life</h1>
              <h3 class="small_headd">Life-Style For Environment</h3>
            </div>
          </div>
          <div class="twodivblk">
            <div class="one">
              <div class="office">
                <h2 class="office-name1">Swachhta Standards</h2>
              </div>
              <div class="twodiv">
                <h4>List of Cleanliness Standards</h4>
              </div>
              <div class="box1-icons">
                <div class="icon-twoblk">
                  <i class="fa-solid fa-list"></i>
                </div>
              </div>
              <button class="box2-click"><b>Learn More</b></button>
            </div>
            <div class="two">
              <div class="office">
                <h2 class="office-name1">Upcoming Inspections</h2>
              </div>
              <div class="twodiv">
                <h4>Dates of Scheduled Inspections</h4>
              </div>
              <div class="box1-icons">
                <div class="icon-twoblk">
                  <i class="fa-solid fa-calendar-days"></i>
                </div>
              </div>
              <button class="box2-click"><b>See Dates</b></button>
            </div>
          </div>
        </div>
        <div class="lastblock">
          <div class="boxes">
            <div id="box1">
              <div class="office">
                <h2 class="office-name1">Post Ofice</h2>
                <h2 class="office-name2">Status Summary</h2>
              </div>
              <div class="box1-icons">
                <div class="icons1">
                  <i class="fa-solid fa-city icon1"></i>
                  <i class="fa-solid fa-check good"></i>
                </div>
                <div class="icons2">
                  <i class="fa-solid fa-city icon2"></i>
                  <i class="fa-solid fa-exclamation exclaim"></i>
                </div>
                <div class="icons3">
                  <i class="fa-solid fa-city icon3"></i>
                  <i class="fa-solid fa-triangle-exclamation triangle"></i>
                </div>
              </div>
              <div class="note">
                <h3>Click On Post Offices For More Details</h3>
              </div>
            </div>
            <div id="box2">
              <div class="office">
                <h2 class="office-name1">Recent Alerts</h2>
              </div>
              <div class="box1-icons">
                <div class="icons4">
                  <i class="fa-solid fa-bell icon2"></i>
                </div>
              </div>
              <div class="box2-note">
                <h3>Check All recent alerts</h3>
                <h3>regarding to survey</h3>
              </div>
              <button class="box2-click"><b>Click Here</b></button>
            </div>
            <div id="box3">
              <div class="office">
                <h2 class="office-name1">Performance</h2>
              </div>
              <div class="box1-icons">
                <div class="icons5">
                  <i class="fa-solid fa-chart-column"></i>
                </div>
              </div>
              <button class="box3-stats"><b>Old Stats</b></button>
            </div>
            <div id="box4">
              <div class="office">
                <h2 class="office-name1">About more</h2>
              </div>
              <div class="box1-icons">
                <div class="icons6">
                  <i class="fa-solid fa-chart-pie"></i>
                </div>
              </div>
              <button class="box3-stats"><b>Click Here</b></button>
            </div>
            <div id="box5">
              <div class="office">
                <h2 class="office-name1">Leaderboard</h2>
              </div>
              <div class="box1-icons">
                <div class="icons7">
                  <i class="fa-solid fa-ranking-star"></i>
                </div>
              </div>
              <button class="box3-stats"><b>See More</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
